

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
section .h2 {
  background-color: inherit;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
/* ОФОРМЛЕНИЕ */
/* Хедер */
.user-navigation,
.lower-header ul,
.catalog-user-navigation,
.navigation-footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.heder-wrap,
.container { 
  display: flex;
  /*  border: 2px solid black;*/
}
.heder-wrap {
  background-color: #f1f5f7;
  padding-bottom: 60px;
  flex-direction: column;
  align-items: stretch;
}  
.container {
  width: 940px;
  margin: auto;
  flex-direction: row;
}
.upper-header{
  min-height: 42px;
  background-color: #293449;
}
.middle-header {
  min-height: 158px;
  align-items: center;
}
.lower-header {
  min-height: 60px;
}
.upper-header,
.middle-header,
.lower-header {
  width: 100%;
} 

/*Верхняя часть шапки*/

/* Логотип */
header .wrap-logo-box{
  flex-basis: 220px;
  position: absolute;
  
}
header .logo-box {
  display: inline-block;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}
header .logo {
  position: relative;
  top: 13px;
  left: 55px;
  width: 110px;
  height: 18px;
}
header .wrap-logo-box:hover{
  background-color: #ca2c37;
}
header .wrap-logo-box:active{
  background-color:#ba2732;
}
/*Поле поиска*/
.search{
  margin-left: 220px;
}
.search input::-webkit-input-placeholder { 
  color:#ffffff;
  font-size: 17px;
  line-height: 1.06;
}
.search input::-moz-placeholder { 
  color:#ffffff;
  font-size: 17px;
  line-height: 1.06;
}/* Firefox 19+ */
.search input:-moz-placeholder { 
  color:#ffffff;
  font-size: 17px;
  line-height: 1.06;
}/* Firefox 18- */
.search input:-ms-input-placeholder { 
  color:#ffffff;
  font-size: 17px;
  line-height: 1.06;
}

.search input {
  background-color: #293449;
  width: 270px;
  height: 42px;
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
.search input::before {
  content: "1234";
  background-color: #ff0000;
  width: 17px;
  height: 17px;
  background: url(../img/icon/icon-search.svg) center center no-repeat; 
  opacity: 0.3;
}
.search input:hover{
  background-color: #212a3a;
  opacity: 1;
}
.search input:active{
  opacity: 0.5;
}
.catalog-user-navigation a {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

/*Блок "Закладки/Корзина/Заказ"*/
.container-link {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.up-link {
  box-sizing: border-box;
  min-height: 42px;
  font-size: 17px;
  line-height: 1.06;
  text-align: left;
  color: #ffffff;
  padding-top: 14px;
  flex-grow: 1;
  min-width: 150px;
}
.container-link .bookmark{
  background-image: url(../img/icon/icon-bookmark.svg);
  background-position: 17px 13px;
  background-repeat: no-repeat;
  padding-left: 44px;
  width: 124px;
}
.container-link .cart {
  background-image: url(../img/icon/icon-cart.svg);
  background-position: 18px 13px;
  background-repeat: no-repeat;
  padding-left: 50px;
  width: 102px;
}
.container-link .bookmark:hover,
.container-link .cart:hover {
  background-color: #212a3a;
}
.container-link .bookmark:active,
.container-link .cart:active {
  background-color: #161d29;
  opacity: 0.5;
}

/* Оформить заказ */
.container-link .checkout {
  box-sizing: border-box;
  width: 130px;
  padding-left: 20px;
}
.checkout:last-child:hover{
  background-color: #5fbb2d;
}
.checkout:last-child:active{
  background-color: #518534;
}
.checkout:last-child{
  background-color: #63a63e;
}

/*Средняя часть хедера*/

.middle-header .container  {
  min-height: 158px;
  align-items: top;
  padding-top: 46px;
}
.main-title {
  width: 205px;
  margin-left: 53px;
  margin-right:  71px;
  margin-top: 5px;
}

.main-title h1 {
  margin: 0 auto;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}
.contacts-header {
  width: 270px;
  margin-right: auto;
}
.contacts-header a {
  display: block;
  padding-top: 11px;
  padding-left: 74px;
  width: 270px;
  height: 45px;

  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;

  border: 2px solid #ffffff;

  background-image: url(../img/icon/icon-phone.svg);
  background-position: 15px center;
  background-repeat: no-repeat;
}
.contacts-header span {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
}


/*Вход/Регистрация*/

.container-user-navigation,
.user-navigation{ 
  display: flex;
  min-height: 45px;
  flex-wrap: wrap;
  flex-basis: 281px;
  padding: 0;
}

.user-navigation li:first-child {
  flex-basis: 121px;
  height: 45px;
  margin-right: 10px;
}
.user-navigation li:last-child {
  flex-basis: 150px;
  height: 45px;
}
.user-navigation a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 11px;
  
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
}
.login-link {
  padding-left: 48px;
  background-image: url(../img/icon/icon-login-1.svg); /* добавить прозрачность*/
  background-position: 14px center;
  background-repeat: no-repeat;
}
.check-in-link {
  text-align: center;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Меню в хедере */
.lower-header {
  height: 60px;
}
.lower-header ul {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.lower-header li {
  min-height: 60px;
  flex-shrink: 1;
}

.lower-header a {
  display:block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  text-decoration: none;

  font-size: 17px;
  color: #ffffff;
}

.lower-header a:active{
  background-color: #1d2739;
  opacity: 0.5;
}
.lower-header a:hover{
  background-color: #1d2739;
}
.user-form {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 299px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  
}
.user-form .user-profile {
  background-image: url(../img/icon/icon-user.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 18px;
  opacity: 0.3;
  margin-right: 14px;
  margin-left: 13px;  
  }
.user-form .user-link {
  width: 100%;
  height: 45px;
  padding-top: 11px;
}
.user-link span {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.user-form .exit-profile {
  background-image: url(../img/icon/icon-logout.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
  min-height: 17px;
  opacity: 0.3;
  margin-right: 10px;
}
.catalog-user-navigation {
  text-align: left;
  padding-left: 17px;
  width: 100%;
}
.catalog-user-navigation li{
  display: inline-block;
}
.catalog-user-navigation li:last-child{
  padding-left: 35px;
}



/* Главный раздел */
/* Блок популярных предложений */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
main section {
  width: 940px;
  margin: 0 auto;
}
main .popular-offers {
  height: 409px;
  margin-bottom: 53px;
  margin-top: 59px;
}
.offer-container {
  width: inherit;
  height: 100%;
  font-size: 0;
  
}
.offer-cards {
  width: 300px; 
  height: 123px;
  float: right;
   margin-right: 0;
  margin-bottom: 20px;  
}
.offer-container .delivery {
  margin-bottom: 0;
}

.offer-container .materials,
.offer-container .instruments{
  margin-left: 20px;
}
.slider-wrap {
  height: 266px;
  width: 620px;
  background-color: rgba(204, 211, 31, 0.47); 
  float: left;
  margin-right: 20px;
}
.slide img {
  display: none;
}

.offer-container span {
  width: 111px;
  height: 22px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.offer-container .button {
  background-color: rgba(0, 0, 0, 0.1);
}
.offer-container .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.offer-container .button:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.offer-container .materials{
  background-color: #ffbf47;
}
.offer-container .instruments {
  background-color: #3bbce3;
}
.offer-container .eqipments {
  background-color: #dc91d8;
}
.offer-container .sale {
  background-color: #8ed78f;
}
.offer-container .delivery {
  background-color: #ffc047;
}
.button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.slider-wrap .button-red,
.button-red {
  background-color: #ee3643;
}
.slider-wrap .button-red:hover {
  background-color: #ca2c37;
}
.slider-wrap .button-red:active{
  background-color: #ba2732;
}
.visually-hidden {
  visibility:hidden;
  font-size: 0;
}

/* Блок популярных товаров */

.container-title {
  display: flex;
  height: 89px;
  align-items: center;
  background: #f9f5f0;
  margin-bottom: 20px;
  
}
.container-title .section-title {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 30px;
  background: inherit;
 
}
.container-title .button-red {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 24px;
  width: 253px;
  height: 38px;
  padding-top:11px;
  text-align: center;
  border-radius: 3px;
}

.product-container,
.manufacturer {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/*КАРТОЧКА ТОВАРА*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.catalog .product-container{
  margin: 0;
}
.product-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
}
.catalog .product-cards {
  margin-top: 0px;
  
}
.product-cards h3 {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
 
  margin: auto;
}
.product-price-old {
  color: #999999;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  
 
  padding-top: 8px;
  width: 141px;
  min-height: 35px;
}
.product-price-new {
  /*  color: #ffffff;*/
  align-self: flex-start;
  margin-left: 43px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  
  width: 141px;
  min-height: 38px;
  padding-top: 10px;
  clip-path: polygon(88% 0%, 100% 50%, 88% 100%, 0% 100%, 0 50%, 0% 0%);
  margin-bottom: 20px;
}

/* Блок популярных производителей */
.manufacturer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 310px;
  margin-bottom: 85px;
}
.manufacturer li {
  display: flex;
  width: 220px;
  height: 145px;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(234, 234, 234);
}
.manufacturer li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.manufacturer li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* Блок сервисов */
.services {
  width: 100%;
   background-color: #f4f7f9;
   margin-bottom: 80px;
   height: 522px;
 }
 .container-services {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: #f4f7f9;
   color: #000000;
   padding-top: 65px;
   flex-basis: 522px;
   width: 940px;
   margin: 0 auto;
 }
 .headline-services {
   font-size: 0;
  
   height: 127px;
   
 }
 .container-services h2 {
   margin-top: auto;
   display: inline-block;
   font-size: 30px;
   font-weight: 400;
   line-height: 30px;
   text-transform:uppercase;
 }
.headline-services p {
  display: block;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  line-height: 1.85;
  margin-top: auto;
  margin-bottom: auto;
}
.slider-services {
  display: flex;
  flex-wrap: wrap;
  height: 279px;
}

.list-services-name,
.list-services-content{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.list-services-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 45px;
  width: 241px;
}
.list-services-name::after {
  content:"";
  background-image: url("../img/icon/layer-118-copy.png");
  background-position: left top;
  width: 10px;
  height: 241px;
  position: relative;
  top: -52%;
  left: 231px;
  
}

.list-services-name button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  width: 240px;
  height: 61px;
  text-align: left;
  text-indent: 20px;
}

.slider-services button:hover {
  background-color: #293449;
}
.slider-services button:active {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.list-services-content li {
  display: flex;
  width: 699px;
  padding-left: 80px;
  padding-top: 43px;
  flex-direction: column;
  justify-content: flex-start;
 
}
.container-services h3 {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  text-transform:uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-basis: 40px;
 
  
}
.list-services-content p {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 10px;
}
.description-services-credit .button-red {
  box-sizing: border-box;
  margin-right: auto;
  min-width: 195px;
  height: 38px;
  padding-top:11px;
  text-align: center;
  border-radius: 3px;
}
.description-services-delivery p {
  width: 275px; 
}
.description-services-garantee p {
  width: 379px;
}
.description-services-credit p {
  width: 279px;
}
.description-services-delivery {
  display: none ;
  min-height: 0px;
}
.description-services-credit {
  display: none;
}

/* Блок о компании */
.about-company {
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 80px;
}
.container-about-company {
  width: 520px;
  margin-right: 120px;
}
.about-company .button {
  display: inline-block;
  min-width: 220px;
  min-height: 38px;
  text-align: center;
  padding-top: 11px;
}
.about-company-contacts .map {
  margin-bottom: 55px;
}
.about-company-contacts .button {
  width: 300px;
  margin-top: 0px;
}
.about-company-contacts {
  width:  300px;
}
.about-company .headline {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin-top: auto;
}
.about-company p {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  margin-top: 2em;
}

.list-delivery-company {
  list-style:none;
  /*  list-style-image: url(../img/icon/list-style.svg);*/
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: auto;
  margin-bottom: 40px;
}
.list-delivery-company li {
  background:url(img/icon/list-style.svg) no-repeat 0;
  margin-bottom: 20px;
   
}


/* Форма отправки письма */
.write-us form {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}
/* Доп карта */
.map {
    box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
    background-color: #565656;  
}

/*Страница каталога*/
.catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}
.filters {
  width: 220px;
  margin-left: 0;
}
.catalog {

  width: 700px;
  margin-right: 0;
  margin-top: 0;
}
.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}
.catalog-container {
  background-color: #ffffff;
  color: #000000;
}
.catalog-container .container-title {
  background-color: #f2f6f8;
}
.section-title {
  background-color: #f3f2f8;
}

/*Сортировка*/
.sort,
.sort input,
.range-controls,
.price-controls input {
  background-color: #f7f3ec;
}
.filter span {
  display: inline-block;
  width: 220px;
}

/*Сброс стилей на странице в форме*/
.manufacturer-filter,
.power-filter,
.breadcrumbs,
.sort-list,
.products-container,
.pages {
  list-style:none;
  padding: 0px;
  margin: 0 px;
}
/*Оформление ссылок*/
.breadcrumbs a,
.breadcrumbs li:last-child,
.sort-list a,
.sort span,
.filter span, 
.filter button {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  
}
.breadcrumbs {
  min-height: 59px;
  align-items: center;
   
}
.sort {
  height: 38px;
  background-color: #ffffff;
  margin-bottom: 21px;
}
.sort-name {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  padding-top: 9px
}
.sort-wrap {
  margin-left: 20px;
  width: 700px;
  background-color: #f7f3ec;
}

.sort-list {
  width: 460px;
  float: right;
  margin: 0;
  padding-top: 9px;
}
.sort-list a {
  opacity: 0.3;
}
.sort-list li,
.sort span {
  display: inline-block
}
.sort-list li:nth-child(1) {
  margin-right: 70px;
}
.sort-list li:nth-child(2) {
  margin-right: 65px;
}
.sort-list a:hover,
.sort-list a:focus {
  opacity: 1;
}
.sort-list a:active {
  color: #ee3643;
  opacity: 1;
}
.sort-list li:nth-last-child(2) {
  background-image: url(../img/icon/icon-up-dir-black.svg);
  height: 10px;
  width: 11px;
  margin-left: 46px;
  opacity: 0.2;
}
.sort-list li:nth-last-child(1) {
  background-image: url(../img/icon/icon-down-dir-black.svg);
  height: 10px;
  width: 11px;
  margin-left: 21px;
  opacity: 0.2;
}
.sort-list li:nth-last-child(1):active {
  background-image: url(../img/icon/icon-down-dir-red.svg);
}
.sort-list li:nth-last-child(1):hover {
  opacity: 1;
}
.sort-list li:nth-last-child(2):active {
  background-image: url(../img/icon/icon-up-dir-red.svg);
  }
.sort-list li:nth-last-child(2):hover {
  opacity: 1;
}


/*ФИЛЬТР*/
/*Цена*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.range-filter {
  width: 220px;
  margin-top: 21px;
}
.filter-item legend {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}
.range-controls {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  margin-bottom: 9px;
  
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
  
}

.range-controls .toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  position: relative;
  top: -11px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 25px;
}

.range-controls .toggle-max {
  left: 100px;
  top: -11px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  padding: 10px 0px ;
  
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
   }
.max-price {
  text-align: right;
}


/*Производители*/

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:27px;
  height:23px;
  margin:0px 10px 0 0;
  vertical-align:middle;
  background:url(../img/icon/checkbox-off_1.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:hover + label span {
  background:url(../img/icon/checkbox-off_2.png) left top no-repeat;
}
input[type="checkbox"]:checked + label span {
  background:url(../img/icon/checkbox-on_1.png) no-repeat;
}
input[type="checkbox"]:checked:hover + label span {
  background:url(../img/icon/checkbox-on_2.png) no-repeat;
}

/*Питание*/
input[type="radio"] {
  display:none;
}
input[type="radio"] + label span {
  display:inline-block;
  width:25px;
  height:25px;
  margin:0px 10px 0 0;
  vertical-align:middle;
  background:url(../img/icon/radio-off_1.png) left top no-repeat;
  cursor:pointer;
}
input[type="radio"]:hover + label span {
  background:url(../img/icon/radio-off_2.png) left top no-repeat;
}
input[type="radio"]:checked + label span {
  background:url(../img/icon/radio-on_1.png) no-repeat;
}
input[type="radio"]:checked:hover + label span {
  background:url(../img/icon/radio-on_2.png) no-repeat;
}

form label {
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.filters button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 140px;
  height: 38px;
}
/*Заметка о перфораторах*/
.theory {
  background-color: #f2f6f8; 
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
}
.theory-container {
  background-color: #f2f6f8; 
  width: 940px;
  margin: 0 auto;
  
}
.theory h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 65px;
}
.theory p {
  margin-bottom: 60px;
  line-height: 24px;
  font-size: 13px;
  margin-top: 0;
}

/*Страницы*/

.pages {
  display: flex;
  margin-left: 240px;
  margin-bottom: 60px;
  margin-top: 32px;
}
.pages li {
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 10px;
  border-radius: 3px;
}
.pages li:hover {
  border: 1px solid #bdc6ca;
}
.pages li:active{
  border: 1px solid #ee3643;
}
.pages li:last-child {
  width: 140px;
  height: 38px;
}
.pages a {
  color: #000000;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  
}

/*Модальное окно корзины*/
.modal-wrap {
  
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}
.modal-wrap p {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  vertical-align: center;
  
}
.upper-modal p::before {
  content: url(../img/icon/goods-in-cart.svg);
  }
.lower-modal {
  display: inline-block;
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}
.modal-close {
  background: url(../img/icon/icon-modal-close.svg) no-repeat;
  width: 21px;
  height: 21px;
}
.lower-modal button {
  width: 220px;
  height: 38px;
  background-color: #ffffff;
  
}
.lower-modal a {
  padding:  11px 59px 11px 62px;
  border-radius: 3px;
}
.lower-modal button{
  color: inherit;
}
/* Футер общий*/
footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.upper-footer {
  background-color: #32425c;
}
.lower-footer {
  display: flex;
  min-height: 107px;
  background-color: #293449;
}

footer .wrap {
  display: flex;
  margin: 0 auto;
  width: 940px;
  
}
.contacts-footer {
  margin-top: 0px;
  min-width: 322px;
  
  margin-right: 0px;
  min-height: 193px;
}
.navigation-footer {
  
  flex-basis: 677px;
}
/*Логотип*/

footer .wrap-logo-box{
  flex-basis: 220px;
 }
 footer .logo-box {
   display: inline-block;
   width: 220px;
   height: 68px;
   background-color: #ee3643;
   box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
 }
 footer .logo {
   position: relative;
   top: 21px;
   left: 41px;
   width: 138px;
   height: 21px;
 }

.contacts-footer p {
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33;
 
  padding-top: 13px;
}
.navigation-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
    
}
.navigation-footer .main {
  margin-left: 70px;
  margin-top: 40px;
 }
.navigation-footer .other {
  margin-left: 90px;
  margin-top: 32px;
}
.main a {
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.main a:hover, 
.other a:hover {
  text-decoration: underline;
}
.main a:active, 
.other a:active {
  opacity: 0.5;
}
.other a {
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}
.copyright {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 40px;
}
.social-network {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 45px;
  margin-left: 155px;
  width: px;
  padding: 0px;
}
.social-network li{
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
  background-color: #212a3a;
  border-radius: 50%;
  width: 41px;
  height: 42px;
}
/*Почему картинки не вставляются??*/
.social-vk {
  display: inherit;
  background: url(../img/icon/vk-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 42px;


}
.social-fb {
  display: inherit;
  background-image: url(../img/icon/fb-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 42px;

}
.social-inst {
  display: inherit;
  background-image: url(../img/icon/insta-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 42px;

}
.social-network li:active,
.social-network li:hover {
  background-color: #ee3643;
}
.lower-footer p:nth-child(3) {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  width: 140px;
  margin-left: 115px;
  margin-top: 40px;
}
.lower-footer p:nth-child(4) {
  font-size: 16px;
  line-height:  18px;
  text-align: left;
  width: 100px;
  margin-top: 40px;
  margin-left: 45px;
  
}
.lower-footer a:nth-last-child(1) {
  color: #ffd180;
}
.lower-footer a:nth-last-child(1):hover {
  text-decoration: underline;
}